@import "../../styles/utils";

$searchbar-height: rem(52);

.pannel {
  width: rem(350);
  height: calc(100vh - #{$searchbar-height});
  margin-top: rem(15);
  position: absolute;
  background-color: var(--white);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  top: 0;

  &--open {
    transform: translateX(120%);
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;

    .close-button {
      position: absolute;
      font: var(--h2);
      color: var(--gray4);
      z-index: 20;
      top: 1%;
      right: 3%;
    }

    .header {
      padding: rem(16);

      .title-info {
        display: flex;
        align-items: center;
        gap: rem(12);

        .title {
          font: var(--h2);
        }

        .induty {
          font: var(--body4);
          color: var(--gray3);
        }
      }

      .line-intro {
        font: var(--caption1);
        color: var(--gray2);
      }
    }

    .reserve-info {
      border-top: rem(5) solid var(--gray4);
      display: flex;
      flex-direction: column;
      gap: rem(6);
      padding: rem(16);
      font: var(--body4);

      .homepage {
        color: var(--green1);
      }
    }

    .info {
      border-top: rem(5) solid var(--gray4);
      display: flex;
      flex-direction: column;
      gap: rem(6);
      padding: rem(16);

      .title {
        font: var(--h3);
      }

      .content {
        font: var(--caption1);
      }
    }
  }
}
