@import "../../styles/utils";

$searchbar-height: rem(52);

.pannel {
  width: rem(350);
  height: calc(100vh - #{$searchbar-height});
  position: absolute;
  background-color: var(--white);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  &--open {
    transform: translateX(105%);
  }

  .container {
    width: 100%;
    height: 100%;
    padding: rem(12);
    display: flex;
    flex-direction: column;
    gap: rem(12);
    overflow-y: scroll;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font: var(--h2);
      }

      .close-button {
        font: var(--h2);
      }
    }

    .info-container {
      display: flex;
      flex-direction: column;
      gap: rem(12);

      .info {
        display: flex;
        flex-direction: column;

        .address {
          font: var(--body4);
        }

        .reserve {
          display: flex;
          gap: rem(8);
          font: var(--caption1);
        }
      }

      .intro {
        display: flex;
        flex-direction: column;
        gap: rem(6);
        border-top: rem(1) solid var(--gray2);
        padding-top: rem(12);

        .title {
          font: var(--h2);
        }

        .content {
          font: var(--body4);
        }
      }

      .sub-info {
        display: flex;
        flex-direction: column;
        gap: rem(6);
        border-top: rem(1) solid var(--gray2);
        padding-top: rem(12);

        .title {
          font: var(--h2);
        }

        .facility {
          font: var(--caption1);
        }
      }
    }
  }
}
