@import "../../styles/utils";

$searchbar-height: rem(74);

.container {
  position: relative;

  .list {
    width: 100%;
    height: calc(100vh - #{$searchbar-height});
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .list-item {
      border-top: 1px solid var(--gray4);
    }
  }

  .pannel {
    width: rem(350);
    height: calc(100vh - #{$searchbar-height});
    position: absolute;
    background-color: var(--white);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;

    &--open {
      transform: translateX(105%);
    }
  }
}
