@import "../../styles/utils";

$searchbar-height: rem(74);
$handle-height: rem(48);

.container {
  position: relative;

  .list {
    width: 100%;
    height: calc(100dvh - #{$searchbar-height});
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    // overflow: visible;

    @media screen and (max-width: 768px) {
      height: calc(100dvh - #{$searchbar-height} - #{$handle-height});
    }

    .list-item {
      border-top: 1px solid var(--gray4);
    }
  }

  .notice {
    width: 100%;
    height: calc(100dvh - #{$searchbar-height});
    display: flex;
    flex-direction: column;
    gap: rem(12);
    overflow-y: scroll;
    padding: rem(15) rem(25);

    @media screen and (max-width: 768px) {
      height: calc(100dvh - #{$searchbar-height} - #{$handle-height});
    }

    .img-wrapper {
      width: 100%;
      height: rem(400);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      font: var(--h2);
      color: var(--gray2);
    }
  }
}
